---
import DataEntry from '../components/DataEntry';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Registar Datos">
  <header class="w-full bg-white/50 py-5 px-3 flex justify-end items-center">
    <div class="flex-1">
      <h1 class="text-4xl font-bold text-gray-900 text-center">
       Bienvenido al SAP pruebas
      </h1>
    </div>
    <span
      id="logOut"
      class="text-lg hover:cursor-pointer hover:border-b-black border border-transparent p-2"
      >Cerrar sesión</span
    >
  </header>
  <div id="main">
    <div class="container rounded-sm shadow-lg shadow-white/10">
      <DataEntry client:idle/>
    </div>
  </div>

  <style>
    #main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
    }
    .container {
      width: 30rem;
      display: flex;
      padding: 1rem;
      background-color: #101010;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      height: auto;
    }
  </style>
</Layout>

<script>
  import { toast } from 'sonner';

  const logOut = document.getElementById('logOut');
  logOut?.addEventListener('click', () => {
    toast.info('Sesión cerrada', { position: 'bottom-center', duration: 5000 });
    localStorage.removeItem('authentication');
    window.location.href = '/';
  });
</script>
