---
import Login from '../components/Login';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Login">
  <main>
    <div class="container shadow-lg">
      <div class="mb-10">
        <h1 class="text-xl dark:text-white/80 text-gray-900">SAP pruebas</h1>
        <h2 class="text-4xl dark:text-white">Aplicación de pruebas CRM</h2>
        <p class="dark:text-white/50">
          Por favor inicie sesión usando sus credenciales
        </p>
      </div>
      <Login client:idle />
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 30rem;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    background-color: #101010;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: auto;
  }
</style>
